
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: rgb(13, 13, 13);
  font-size: larger;
  background-color: #D9AFD9;
  background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
  height:100vh;
}

header {
  /* position: fixed; */
  width: 99%;
  padding: 10px 20px;
  overflow: hidden;
  height: 120px;
  color:black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

nav {
  padding: 10px;
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 658px) {
  .text-container,
  nav {
    justify-content: center;
  }
  header {
    height: 200px;
  }
}

a {

  margin: 10px;
  padding: 15px;
  font-size: medium;
  color: rgb(11, 11, 11);
  text-decoration: none;
  border-radius:20px;
  box-shadow: var(--shadow-elevation-medium);
}

.intro{
  /* position: relative;
  bottom: 80px; */
  font-family: 'Playpen Sans', cursive;
}
a:hover {
  color: rgb(35, 34, 34);
}

span{
  color:rgb(22, 60, 229);

}
#hiring{
  border-radius: 10px;
  padding: 15px;
color:blue;
background-color: #dcd3d3;
border:none;
}

#talent{
  border-radius: 10px;
  padding: 15px;
color:white;
border: none;
background-color:#377dac;
}

#talent:hover{
background-color: #636870;
}
#hiring:hover{
  background-color:#97a2aa;
}


:root {
  --shadow-color: 286deg 7% 39%;
  --shadow-elevation-low:
    0px 0.6px 0.7px hsl(var(--shadow-color) / 0.48),
    0.1px 1.1px 1.2px -1.2px hsl(var(--shadow-color) / 0.48),
    0.2px 2.9px 3.3px -2.5px hsl(var(--shadow-color) / 0.48);
  --shadow-elevation-medium:
    0px 0.6px 0.7px hsl(var(--shadow-color) / 0.51),
    0.1px 2.3px 2.6px -0.8px hsl(var(--shadow-color) / 0.51),
    0.3px 6px 6.8px -1.7px hsl(var(--shadow-color) / 0.51),
    0.8px 14.7px 16.6px -2.5px hsl(var(--shadow-color) / 0.51);
  --shadow-elevation-high:
    0px 0.6px 0.7px hsl(var(--shadow-color) / 0.47),
    0.2px 4.8px 5.4px -0.4px hsl(var(--shadow-color) / 0.47),
    0.5px 9.1px 10.3px -0.7px hsl(var(--shadow-color) / 0.47),
    0.8px 15.1px 17px -1.1px hsl(var(--shadow-color) / 0.47),
    1.3px 24.2px 27.3px -1.4px hsl(var(--shadow-color) / 0.47),
    2px 38px 42.8px -1.8px hsl(var(--shadow-color) / 0.47),
    3px 57.9px 65.2px -2.1px hsl(var(--shadow-color) / 0.47),
    4.4px 85.4px 96.2px -2.5px hsl(var(--shadow-color) / 0.47);
}